.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wheel-container {
  flex: 2;
  text-align: center;
}

.prize-list-container {
  flex: 1;
  height: 100vh;
  overflow: auto;
}

.menu-list-prize-won {
  display: block;
}

.icon-menu-list-prize-won {
  display: none;
}
@media screen and (max-width: 840px) {
  .menu-list-prize-won {
    display: none;
  }

  .icon-menu-list-prize-won {
    display: block;
  }
}

.custom-heading {
  font-size: 2rem;
  color: rgb(26 43 87);
}

.custom-label {
  font-weight: 500;
  color: rgb(17 24 39);
}

.custom-text {
  padding: 6px 12px;
  border-color: rgb(209 213 219);
}
.custom-text:hover {
  border-color: rgb(26 43 87);
}
.custom-text:focus {
  border-color: rgb(26 43 87);
  outline: none;
}

.text-error {
  color: rgb(239 68 68);
}

.img-text {
  margin-top: 15px;
  width: 25%;
  cursor: pointer;
}

@keyframes onilgapp-pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(90, 26, 208, 0.7); /* Màu mới cho hoạt hình */
  }
  70% {
    box-shadow: 0 0 10px 10px rgba(90, 26, 208, 0); /* Màu mới cho hoạt hình */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(90, 26, 208, 0); /* Màu mới cho hoạt hình */
  }
}
.btn-shadow-animate {
  animation: onilgapp-pulse-shadow 1.8s infinite;
  background-color: #5a1ad0;
  max-width: 200px;
}

@media screen and (max-width: 436px) and (min-width: 360px) {
  .img-text {
    width: 70%;
  }
}

@media screen and (max-width: 636px) and (min-width: 437px) {
  .img-text {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .img-text {
    width: 25%;
  }
}
