.wrapper {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.luckywheel ul,
.luckywheel li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.luckywheel {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 20px solid #57a5f8;
  box-shadow: 0px 0px 40px 15px #57a5f8;
  /* overflow: hidden; */
}

.luckywheel::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  border: 8px dotted #ffffff;
  width: calc(100% + 26px);
  height: calc(100% + 25px);
  border-radius: 50%;
}

.luckywheel-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 561px;
  height: 561px;
  border-radius: inherit;
  background-clip: padding-box;
  -webkit-transition: transform 6s ease;
  transition: transform 6s ease;
}

.luckywheel-container canvas {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.luckywheel-list {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 2;
}

.luckywheel-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); */
}

.luckywheel-item__content {
  width: 100%;
  height: 180px;
  border-radius: 50% 50% 70% 70% / 40% 40% 100% 100%;
  padding-top: 5px;
  margin: 0 auto;
  border: none !important;
}

.text-container {
  width: 80px;
  margin: 0 auto;
}

.luckywheel-item__content > p {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.luckywheel-item span {
  position: relative;
  display: block;
  top: -10px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform-origin: 50% 300px;
  -ms-transform-origin: 50% 300px;
  transform-origin: 50% 300px;
}

.luckywheel-item img {
  position: relative;
  object-fit: contain;
  width: 120px;
  height: 100px;
}

.luckywheel-logo {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
}

.luckywheel-btn {
  position: absolute;
  left: 50%;
  top: -43px;
  z-index: 3;
  transform: translate(-50%);
}

.luckywheel-btn-icon {
  transform-origin: center;
}
.color-icon {
  color: #57a5f8;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Quay từ góc 0 độ */
    transition-timing-function: ease-in-out;
  }
  to {
    transform: rotate(-30deg); /* Quay đến góc -20 độ */
    transition-timing-function: ease-in-out;
  }
}

@media screen and (max-width: 436px) and (min-width: 360px) {
  .luckywheel {
    width: 369px;
    height: 369px;
  }

  .luckywheel-container {
    width: 330px;
    height: 330px;
  }

  .luckywheel-item span {
    padding-top: 20px;
    top: -12px;
    -webkit-transform-origin: 50% 175px;
    -ms-transform-origin: 50% 175px;
    transform-origin: 50% 175px;
  }

  .luckywheel-logo {
    width: 150px;
    height: 150px;
  }

  .luckywheel-item__content {
    height: 90px;
  }

  .luckywheel-item__content > img {
    width: 40px;
    height: 40px;
  }

  .text-container {
    width: 60px;
  }

  .name-prize {
    font-size: 10px;
  }
}

@media screen and (max-width: 636px) and (min-width: 437px) {
  .luckywheel {
    width: 400px;
    height: 400px;
  }
  .luckywheel-container {
    width: 360px;
    height: 360px;
  }

  .luckywheel-item span {
    padding-top: 20px;
    -webkit-transform-origin: 50% 200px;
    -ms-transform-origin: 50% 200px;
    transform-origin: 50% 200px;
  }

  .luckywheel-logo {
    width: 150px;
    height: 150px;
  }

  .luckywheel-item__content {
    height: 110px;
  }

  .luckywheel-item__content > img {
    width: 50px;
    height: 50px;
  }

  .text-container {
    width: 60px;
  }

  .name-prize {
    font-size: 10px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1900px) {
  .luckywheel {
    width: 370px;
    height: 370px;
  }

  .luckywheel-container {
    width: 330px;
    height: 330px;
  }

  .luckywheel-item span {
    padding-top: 10px;
    transform-origin: 50% 180px;
  }

  .luckywheel-logo {
    width: 200px;
    height: 200px;
  }

  .luckywheel-item__content {
    height: 130px;
  }

  .luckywheel-item__content > img {
    width: 50px;
    height: 50px;
  }

  .text-container {
    width: 60px;
  }

  .name-prize {
    font-size: 11px;
  }
}

@media screen and (max-width: 436px) and (min-width: 334px) {
  .luckywheel {
    width: 334px;
    height: 334px;
  }

  .luckywheel-container {
    width: 295px;
    height: 295px;
  }

  .luckywheel-item span {
    padding-top: 20px;
    top: -12px;
    -webkit-transform-origin: 50% 165px;
    -ms-transform-origin: 50% 165px;
    transform-origin: 50% 165px;
  }

  .luckywheel-logo {
    width: 130px;
    height: 130px;
  }

  .luckywheel-item__content {
    height: 90px;
  }

  .luckywheel-item__content > img {
    width: 35px;
    height: 35px;
  }

  .text-container {
    width: 50px;
  }

  .name-prize {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .luckywheel {
    width: 334px;
    height: 334px;
  }

  .luckywheel-container {
    width: 295px;
    height: 295px;
  }

  .luckywheel-item span {
    padding-top: 20px;
    top: -12px;
    -webkit-transform-origin: 50% 165px;
    -ms-transform-origin: 50% 165px;
    transform-origin: 50% 165px;
  }

  .luckywheel-logo {
    width: 130px;
    height: 130px;
  }

  .luckywheel-item__content {
    height: 90px;
  }

  .luckywheel-item__content > img {
    width: 35px;
    height: 35px;
  }

  .text-container {
    width: 50px;
  }

  .name-prize {
    font-size: 10px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1010px) {
  .luckywheel {
    width: 434px;
    height: 434px;
  }

  .luckywheel-container {
    width: 395px;
    height: 395px;
  }

  .luckywheel-item span {
    padding-top: 20px;
    top: -12px;
    -webkit-transform-origin: 50% 165px;
    -ms-transform-origin: 50% 165px;
    transform-origin: 50% 205px;
  }

  .luckywheel-logo {
    width: 150px;
    height: 150px;
  }

  .luckywheel-item__content {
    height: 90px;
  }

  .luckywheel-item__content > img {
    width: 55px;
    height: 55px;
  }

  .text-container {
    width: 60px;
  }

  .name-prize {
    font-size: 13.5px;
  }
}
